/* .jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
} */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 14px;
}

footer p {
  margin-bottom: .25rem;
}

footer a{
  text-decoration: none;
  color: black;
  
}


footer a:hover{
  color: black;
  font-weight: bold;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.card-img-top{
  object-fit: scale-down;
  margin-top: 5%;
  height: 30vh;
}

.textoNavbar{
  color: white;
  font-size: 13px;
  text-align: center;
}


.btnVaciar {
  color: #6c757d;
  font-size: smaller;
  border:none;
  
}

.btn-dark:hover{
  background-color: #28a745;
  border:#28a745;

}

/* .btnConfirmar:hover{

} */

.changuito {
  font-size: 13px;
}

.table-responsive {
  font-size: 13px;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  /* .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  } */

  .textoNavbar{
    font-size: 18px;
  }
}



@media (max-width: 400px) {

  /* body{
    font-size: 12px;
  } */

  .textoNavbar, .changuito {
    font-size: 13px;
  }


  .table-responsive {
    font-size: 10px;
  }

  .botones, .btnVaciar, footer{
    font-size: 12px;
  }

  .btnVaciar {
    font-size: 12px;
  }
  #catalogo {
    line-height: 0.5;
    font-size: 14px;
}

#catalogo button {
  font-size: 12px;

}

.card-body {
  padding-top: 8px;
  padding-bottom: 16px;
}

}